<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Std</h1>
    <form action="" method="post">
        {% csrf_token %}
        Rollno:<input type="number" name="roll_no" id="" placeholder="roll" value="{{data.roll_no}}"><br><br>
        Name:<input type="text" name="name" id="" placeholder="name" value="{{data.name}}"><br><br>
        Age:<input type="number" name="age" id="" placeholder="age" value="{{data.age}}"><br><br>
        <input type="submit" value="update">
    </form>

</body>
</html>